<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="app" class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="apple-touch-icon" sizes="76x76"
	href="assets/img/apple-icon.png" />
<link rel="icon" type="image/png" href="assets/img/builder.jpg" />
<title>Kukulkan Generator</title>

<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
	name='viewport' />
<meta name="viewport" content="width=device-width" />

<!-- CSS Files -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="assets/css/paper-bootstrap-wizard.css" rel="stylesheet" />

<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="assets/css/demo.css" rel="stylesheet" />

<!-- Fonts and Icons -->
<link
	href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css"
	rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Muli:400,300'
	rel='stylesheet' type='text/css'>
<link href="assets/css/themify-icons.css" rel="stylesheet">
</head>

<body>
	<div class="image-container set-full-height"
		style="background-image: url('assets/img/paper-2.jpeg')">
		<!--   Creative Tim Branding   -->
		<a href="https://github.com/danimaniarqsoft/kukulcan">
			<div class="logo-container">
				<div class="logo">
					<img src="assets/img/rsz_builder.jpg">
				</div>
				<div class="brand">Kukulkan</div>
			</div>
		</a>

		<!--  Made With Paper Kit  -->
		<a
			href="http://demos.creative-tim.com/paper-kit?ref=paper-bootstrap-wizard"
			class="made-with-pk">
			<div class="brand">PK</div>
			<div class="made-with">
				Made with <strong>Paper Kit</strong>
			</div>
		</a>

		<!--   Big container   -->
		<div class="container" ng-controller="generatorController">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<!--      Wizard container        -->
					<div class="wizard-container">
						<div class="card wizard-card" data-color="green" id="wizard">
							<form action="" method="">
								<!--        You can switch " data-color="green" "  with one of the next bright colors: "blue", "azure", "orange", "red"       -->

								<div class="wizard-header">
									<h3 class="wizard-title">Kukulkan Generator</h3>
									<p class="category">This information will let us generate
										your application</p>
								</div>
								<div class="wizard-navigation">
									<div class="progress-with-circle">
										<div class="progress-bar" role="progressbar" aria-valuenow="1"
											aria-valuemin="1" aria-valuemax="4" style="width: 15%;"></div>
									</div>
									<ul>
										<li><a href="#location" data-toggle="tab">
												<div class="icon-circle">
													<i class="ti-map"></i>
												</div> Project Configuration
										</a></li>
										<li><a href="#type" data-toggle="tab">
												<div class="icon-circle">
													<i class="ti-direction-alt"></i>
												</div> Layers Descriptions
										</a></li>
										<li><a href="#facilities" data-toggle="tab">
												<div class="icon-circle">
													<i class="ti-panel"></i>
												</div> Data Stores
										</a></li>
										<li><a href="#description" data-toggle="tab">
												<div class="icon-circle">
													<i class="ti-comments"></i>
												</div> Select Tables
										</a></li>
									</ul>
								</div>
								<div class="tab-content">
									<div class="tab-pane" id="location">
										<div class="row">
											<div class="col-sm-12">
												<h5 class="info-text">Let's start with the basic
													Project details</h5>
											</div>
											<div class="col-sm-5 col-sm-offset-1">
												<div class="form-group">
													<label>Id</label> <input type="text" class="form-control"
														id="exampleInputEmail1" placeholder="gen">
												</div>
											</div>
											<div class="col-sm-5">
												<div class="form-group">
													<label>GroupId</label> <input type="text"
														class="form-control" id="exampleInputEmail1"
														placeholder="mx.infotec.dads.innovation">
												</div>
											</div>
											<div class="col-sm-5 col-sm-offset-1">
												<div class="form-group">
													<label>Version</label> <input type="text"
														class="form-control" id="exampleInputEmail1"
														placeholder="1.0.0">
												</div>
											</div>
											<div class="col-sm-5">
												<div class="form-group">
													<label>Packaging</label> <input type="text"
														class="form-control" id="exampleInputEmail1"
														placeholder="mx.infotec.dads.innovation.zonacero">
												</div>
											</div>
											<div class="col-sm-5 col-sm-offset-1"">
												<div class="form-group">
													<label>Year</label> <input type="text" class="form-control"
														id="exampleInputEmail1" placeholder="2017">
												</div>
											</div>
											<div class="col-sm-5">
												<div class="form-group">
													<label>Author</label> <input type="text"
														class="form-control" id="exampleInputEmail1"
														placeholder="Kukulkan">
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane" id="type">
										<h5 class="info-text">Layer's Descriptions</h5>
										<div class="row">
											<div class="col-sm-5 col-sm-offset-1">
												<div class="form-group">
													<label>Web Layer Name</label> <input type="text"
														class="form-control" id="exampleInputEmail1"
														placeholder="rest">
												</div>
											</div>
											<div class="col-sm-5">
												<div class="form-group">
													<label>Service Layer Name</label> <input type="text"
														class="form-control" id="exampleInputEmail1"
														placeholder="service">
												</div>
											</div>
											<div class="col-sm-5 col-sm-offset-1">
												<div class="form-group">
													<label>Dao Layer Name</label> <input type="text"
														class="form-control" id="exampleInputEmail1"
														placeholder="repository">
												</div>
											</div>
											<div class="col-sm-5">
												<div class="form-group">
													<label>Domain Layer Name</label> <input type="text"
														class="form-control" id="exampleInputEmail1"
														placeholder="model">
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane" id="facilities">
										<h5 class="info-text">Select the DataStore</h5>
										<div class="row">
											<div class="col-sm-5 col-sm-offset-4">
												<div class="form-group">
													<label>Data Store</label> <select class="form-control"
														ng-repeat="dataStore in dataStores">
														<option disabled="" selected="">- type -</option>
														<option>{{dataStore.url}}</option>
													</select>
												</div>
											</div>

										</div>
									</div>
									<div class="tab-pane" id="description">
										<div class="row">
											<h5 class="info-text">Drop us a small description.</h5>
											<div class="col-sm-6 col-sm-offset-1">
												<div class="form-group">
													<label>Place description</label>
													<textarea class="form-control" placeholder="" rows="9"></textarea>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Example</label>
													<p class="description">"The place is really nice. We
														use it every sunday when we go fishing. It is so awesome."</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="wizard-footer">
									<div class="pull-right">
										<input type='button'
											class='btn btn-next btn-fill btn-success btn-wd' name='next'
											value='Next' /> <input type='button'
											class='btn btn-finish btn-fill btn-success btn-wd'
											name='finish' value='Generate' />
									</div>

									<div class="pull-left">
										<input type='button'
											class='btn btn-previous btn-default btn-wd' name='previous'
											value='Previous' />
									</div>
									<div class="clearfix"></div>
								</div>
							</form>
						</div>
					</div>
					<!-- wizard container -->
				</div>
			</div>
			<!-- row -->
		</div>
		<!--  big container -->

		<div class="footer">
			<div class="container text-center">
				Kukulkan Generator<i class="fa fa-cog fa-spin fa-2x fa-fw heart"></i>
				by <a href="https://github.com/danimaniarqsoft/kukulcan">Anonimous</a>.
			</div>
		</div>
	</div>

</body>

<!--   Angular JS Files   -->
<script src="/webjars/angularjs/1.4.9/angular.js"></script>
<script src="/webjars/angularjs/1.4.9/angular-resource.js"></script>
<script src="/webjars/angularjs/1.4.9/angular-route.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controller.js"></script>

<!--   Core JS Files   -->
<script src="assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/jquery.bootstrap.wizard.js"
	type="text/javascript"></script>

<!--  Plugin for the Wizard -->
<script src="assets/js/paper-bootstrap-wizard.js" type="text/javascript"></script>

<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="assets/js/jquery.validate.min.js" type="text/javascript"></script>

</html>